<!doctype html>
<html lang="en">
{{template "head"}}
<body>
{{template "navbar"}}
<div class="container-fluid">
    <div class="row">
        {{template "sidebarMenu"}}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {{template "dashboard"}}
            <div id="app">
                <form class="deposit-form" @submit.prevent="onSubmit">
                    <div class="input-group mb-3">
                        {{template "exchangesRadioButtons"}}
                    </div>

                    <div class="row">
                        <div class="col">
                            <v-select v-model="asset"
                                      :options="assets"
                                      label="code"
                                      placeholder="BTC"
                            ></v-select>
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
                        <script src='https://unpkg.com/vue-select@latest'></script>
                    </div>

                    {{template "chain"}}

                    <button class="btn btn-primary" type="submit" :disabled="loading">
                        <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span v-if="loading">Loading...</span><span v-else>Deposit</span>
                    </button>
                </form>
                <br>

                <div v-if="loading" class="spinner-border text-primary" role="status">
                    <span class="sr-only"></span>
                </div>

                <div v-if="error" class="error">
                    ${ error }
                </div>

                <div v-if="address" class="content">
                    <p>Address: ${ address }</p>
                    <p>Balance: ${ balance} ${ symbol }</p>
                </div>
            </div>
        </main>
    </div>
</div>

</body>

<script>
    // VueJS 3 - Vue.js

    // write VueSelect component
    Vue.component('v-select', VueSelect.VueSelect);
    new Vue({
        el: "#app",
        delimiters: ['${', '}'],
        data() {
            return {
                loading: false,
                errored: false,
                assetData: "",
                error: "",
                options: [
                    {text: 'FTX', value: 'ftx'},
                    {text: 'Binance', value: 'binance'},
                    {text: 'Deribit', value: 'deribit'},
                    {text: 'Kraken', value: 'kraken'},
                    {text: 'BTSE', value: 'btse'}
                ],
                asset: { code: 'USDT' },
                assets: [],
                exchangeInput: "",
                exchangeName: "ftx",
                address: "",
                balance: "",
                price: 0,
                chain: "default",
            }
        },
        mounted() {
            this.onAssetsLoaded();
        },
        methods: {
            onAssetsLoaded: function () {
                this.assets = []; // clear the array
                axios.get('http://127.0.0.1:3333/api/assets/' + this.exchangeName).then(response => {
                    this.assets = response.data["assets"]
                }).catch(error => {
                    console.log(error);
                });
            },
            onSubmit() {
                // reset previous result
                this.errored = false
                this.error =""

                // reset address and balance for new result
                this.address = ""
                this.balance = ""

                // disable the form
                this.loading = true

                axios
                    .get('http://127.0.0.1:3333/api/deposit/' + this.exchangeName + '/' + this.asset['code'] + '/' + this.chain)
                    .then(response => {
                        this.processData(response)
                    })
                    .catch(error => {
                            console.log(error)
                            this.error = error
                            this.errored = true
                        }
                    )
                    .finally(() => this.loading = false)
            },
            processData(result) {
                const data = result.data
                this.assetData = data
                this.address = data.address["Address"]
                this.symbol = data.code
                this.balance = data.balance
                this.price = data.price
                //this.exchangeName = data.exchange
            }
        },
        watch: {
            exchangeName: {
                handler: function (value) {
                    this.onAssetsLoaded();
                }
            }
        }
    })
    app.mount('#app').created().mounted()
</script>
</html>