{{define "exchangesRadioButtons"}}
    <span class="input-group-text" id="basic-addon">Exchange</span>
    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="ftx" id="ftx-btn-check-outlined" autocomplete="off" checked required>
    <label class="btn btn-outline-primary" for="ftx-btn-check-outlined">FTX</label><br>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="binance" id="binance-btn-check-2-outlined" autocomplete="off">
    <label class="btn btn-outline-warning" for="binance-btn-check-2-outlined">Binance</label><br>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="deribit" id="deribit-success-outlined" autocomplete="off">
    <label class="btn btn-outline-success" for="deribit-success-outlined">Deribit</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="bitmex" id="bitmex-danger-outlined" autocomplete="off">
    <label class="btn btn-outline-danger" for="bitmex-danger-outlined">Bitmex</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="huobi" id="huobi-info-outlined" autocomplete="off">
    <label class="btn btn-outline-info" for="huobi-info-outlined">Huobi</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="bitfinex" id="finex-success-outlined" autocomplete="off">
    <label class="btn btn-outline-success" for="finex-success-outlined">Bitfinex</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="btse" id="btse-info-outlined" autocomplete="off">
    <label class="btn btn-outline-info" for="btse-info-outlined">BTSE</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="kraken" id="kraken-dark-outlined" autocomplete="off">
    <label class="btn btn-outline-dark" for="kraken-dark-outlined">Kraken</label>
{{end}}

{{define "exchangesRadioButtons2"}}
<span class="input-group-text" id="basic-addon3">Exchange Destination</span>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="ftx" id="dest-btn-check-outlined" autocomplete="off" />
<label class="btn btn-outline-primary" for="dest-btn-check-outlined">FTX</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="binance" id="dest-btn-check-2-outlined" autocomplete="off" />
<label class="btn btn-outline-warning" for="dest-btn-check-2-outlined">Binance</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="deribit" id="dest-success-outlined" autocomplete="off" />
<label class="btn btn-outline-success" for="dest-success-outlined">Deribit</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="bitmex" id="dest-danger-outlined" autocomplete="off" />
<label class="btn btn-outline-danger" for="dest-danger-outlined">Bitmex</label>

<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="huobi" id="dest-huobi-info-outlined" autocomplete="off" />
<label class="btn btn-outline-info" for="dest-huobi-info-outlined">Huobi</label>

<input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="bitfinex" id="dest-finex-success-outlined" autocomplete="off">
<label class="btn btn-outline-success" for="dest-finex-success-outlined">Bitfinex</label>

<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="btse" id="dest-btse-info-outlined" autocomplete="off" />
<label class="btn btn-outline-info" for="dest-btse-info-outlined">BTSE</label>

<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="kraken" id="dest-dark-outlined" autocomplete="off" />
<label class="btn btn-outline-dark" for="dest-dark-outlined">Kraken</label>
{{end}}