{{define "fiatButtons"}}
<input type="radio" class="btn-check" name="options-outlined" v-model="currency" value="EUR" id="eur-currency-btn-success-outlined" autocomplete="off" checked>
<label class="btn btn-outline-primary" for="eur-currency-btn-success-outlined">Euro</label>

<input type="radio" class="btn-check" name="options-outlined" v-model="currency" value="USD" id="usd-currency-check-2-outlined" autocomplete="off">
<label class="btn btn-outline-warning" for="usd-currency-check-2-outlined">Dollar</label>
{{end}}