<!doctype html>
<html lang="en">
{{template "head"}}
<body>
{{template "navbar"}}
<div class="container-fluid">
    <div class="row">
        {{template "sidebarMenu"}}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {{template "dashboard"}}
            <div id="app">
                <form class="deposit-form" @submit.prevent="onSubmit">
                    <div class="mb-3">
                        <input type="radio" class="btn-check" name="exchange-options-outlined" v-model="exchangeName" value="kraken" id="kraken-dark-outlined" autocomplete="off" checked required>
                        <label class="btn btn-outline-dark" for="kraken-dark-outlined">Kraken</label>
                    </div>

                    <div class="mb-3">
                    {{template "fiatButtons"}}
                    </div>
                    <div class="mb-3">
                        <small id="emailHelp" class="form-text text-muted">This convert all USDT to ${ currency } and transfers the funds to an international bank account.</small><br>
                        <button class="btn btn-outline-success" type="submit" :disabled="loading">
                    <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span v-if="loading">Loading...</span><span v-else>Transfer</span>
                </button>
                    </div>
                </form>
                <br>
                <div v-if="loading" class="spinner-border text-success" role="status">
                    <span class="sr-only"></span>
                </div>

                <div v-if="error" class="error">${ error }</div>
                <div>
                    ${ result }
                </div>

                <div v-if="address" class="content">
                    <p>Balance: ${ balance} ${ symbol }</p>
                </div>
            </div>
        </main>
    </div>
</div>

</body>

<script>
    const app = Vue.createApp({
        delimiters: ['${', '}'],

        data() {
            return {
                loading: false,
                errored: false,
                currency: "EUR",
                exchangeName: "kraken",
                error: "",
                balance: "",
                result: "",
            }
        },
        methods: {
            onSubmit() {
                // reset previous result
                this.errored = false
                this.address = ""
                this.balance = ""
                this.loading = true
                axios
                    .get('http://127.0.0.1:3333/api/bank/transfer/currency')
                    .then(response => {
                        console.log(response)
                        this.handleData(response)
                    })
                    .catch(error => {
                            console.log(error)
                            //this.address = "Not available"
                            this.errored = true
                        }
                    )
                    .finally(() => this.loading = false)
            },
            handleData(result) {
                const data = result.data
                this.result = data
                this.address = data.address
                this.symbol = data.code
                this.balance = data.balance
                this.exchangeName = data.exchange
            }
        },
    })
    app.mount('#app').created()
</script>
</html>