<!doctype html>
<html lang="en">
{{template "head"}}
<body>
{{template "navbar"}}
<div class="container-fluid">
    <div class="row">
        {{template "sidebarMenu"}}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {{template "dashboard"}}
            <div id="app">
                <form class="deposit-form" @submit.prevent="onSubmit">
                    <div class="input-group mb-3">
                    {{template "exchangesRadioButtons"}}
                    </div>
<!--                    <div class="input-group mb-3">-->
<!--                        <span class="input-group-text" id="basic-addon1">Exchange</span>-->
<!--                        <select class="form-select" v-model="exchangeName" id="exchangeName" aria-label="Default select exchange">-->
<!--                            <option v-for="option in options" :value="option.value">-->
<!--                                ${ option.text }-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->

                    <div class="input-group mb-3">
                        <span class="input-group-text">asset</span>
                        <input type="text" class="form-control" id="assetName" v-model="asset" aria-label="asset" required>
                    </div>

                    {{template "chain"}}

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Selected exchange</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="exchangeName" :value="exchangeName">
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit" :disabled="loading">
                        <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span v-if="loading">Loading...</span><span v-else>Deposit</span>
                    </button>
                </form>
                <br>

                <div v-if="loading" class="spinner-border text-primary" role="status">
                    <span class="sr-only"></span>
                </div>

                <div v-if="error" class="error">
                    ${ error }
                </div>

                <div v-if="address" class="content">
                    <p>Address: ${ address }</p>
                    <p>Balance: ${ balance} ${ symbol }</p>
                </div>
            </div>
        </main>
    </div>
</div>

</body>

<script>
    const app = Vue.createApp({
        delimiters: ['${', '}'],

        data() {
            return {
                loading: false,
                errored: false,
                assetData: "",
                error: "",
                options: [
                    {text: 'FTX', value: 'ftx'},
                    {text: 'Binance', value: 'binance'},
                    {text: 'Deribit', value: 'deribit'},
                    {text: 'Kraken', value: 'kraken'},
                    {text: 'BTSE', value: 'btse'}
                ],
                exchangeInput: "",
                exchangeName: "ftx",
                address: "",
                balance: "",
                price: 0,
                chain: "default",
            }
        },
        methods: {
            onSubmit() {
                // reset previous result
                this.errored = false
                this.error =""

                // reset address and balance for new result
                this.address = ""
                this.balance = ""

                // disable the form
                this.loading = true

                axios
                    .get('http://127.0.0.1:3333/api/deposit/' + this.exchangeName + '/' + this.asset + '/' + this.chain)
                    .then(response => {
                        this.processData(response)
                    })
                    .catch(error => {
                            console.log(error)
                            this.error = error
                            this.errored = true
                        }
                    )
                    .finally(() => this.loading = false)
            },
            processData(result) {
                const data = result.data
                this.assetData = data
                console.log(data)
                this.address = data.address["Address"]
                this.symbol = data.code
                this.balance = data.balance
                this.price = data.price
                this.exchangeName = data.exchange
            }
        },
    })
    app.mount('#app').created()
</script>
</html>