{{define "exchangesRadioButtons"}}
    <span class="input-group-text" id="basic-addon">Exchange</span>
    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="ftx" id="btn-check-outlined" autocomplete="off" checked required>
    <label class="btn btn-outline-primary" for="btn-check-outlined">FTX</label><br>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="binance" id="btn-check-2-outlined" autocomplete="off">
    <label class="btn btn-outline-warning" for="btn-check-2-outlined">Binance</label><br>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="deribit" id="success-outlined" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined">Deribit</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="bitmex" id="danger-outlined" autocomplete="off">
    <label class="btn btn-outline-danger" for="danger-outlined">Bitmex</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="btse" id="info-outlined" autocomplete="off">
    <label class="btn btn-outline-info" for="info-outlined">BTSE</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="kraken" id="dark-outlined" autocomplete="off">
    <label class="btn btn-outline-dark" for="dark-outlined">Kraken</label>
{{end}}

{{define "exchangesRadioButtons2"}}
<span class="input-group-text" id="basic-addon3">Exchange Destination</span>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="ftx" id="1btn-check-outlined" autocomplete="off" />
<label class="btn btn-outline-primary" for="1btn-check-outlined">FTX</label>
<br />
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="binance" id="1btn-check-2-outlined" autocomplete="off" />
<label class="btn btn-outline-warning" for="1btn-check-2-outlined">Binance</label>
<br />
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="deribit" id="1success-outlined" autocomplete="off" />
<label class="btn btn-outline-success" for="1success-outlined">Deribit</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="bitmex" id="1danger-outlined" autocomplete="off" />
<label class="btn btn-outline-danger" for="1danger-outlined">Bitmex</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="btse" id="1info-outlined" autocomplete="off" />
<label class="btn btn-outline-info" for="1info-outlined">BTSE</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="kraken" id="1dark-outlined" autocomplete="off" />
<label class="btn btn-outline-dark" for="1dark-outlined">Kraken</label>
{{end}}