{{define "exchangesRadioButtons"}}
    <span class="input-group-text" id="basic-addon">Exchange</span>
    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="ftx" id="btn-check-outlined" autocomplete="off" checked required>
    <label class="btn btn-outline-primary" for="btn-check-outlined">FTX</label><br>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="binance" id="btn-check-2-outlined" autocomplete="off">
    <label class="btn btn-outline-warning" for="btn-check-2-outlined">Binance</label><br>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="deribit" id="success-outlined" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined">Deribit</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="bitmex" id="danger-outlined" autocomplete="off">
    <label class="btn btn-outline-danger" for="danger-outlined">Bitmex</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="bitfinex" id="success-outlined-finex" autocomplete="off">
    <label class="btn btn-outline-success" for="success-outlined-finex">Bitfinex</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="btse" id="info-outlined" autocomplete="off">
    <label class="btn btn-outline-info" for="info-outlined">BTSE</label>

    <input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="kraken" id="dark-outlined" autocomplete="off">
    <label class="btn btn-outline-dark" for="dark-outlined">Kraken</label>
{{end}}

{{define "exchangesRadioButtons2"}}
<span class="input-group-text" id="basic-addon3">Exchange Destination</span>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="ftx" id="dest-btn-check-outlined" autocomplete="off" />
<label class="btn btn-outline-primary" for="dest-btn-check-outlined">FTX</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="binance" id="dest-btn-check-2-outlined" autocomplete="off" />
<label class="btn btn-outline-warning" for="dest-btn-check-2-outlined">Binance</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="deribit" id="dest-success-outlined" autocomplete="off" />
<label class="btn btn-outline-success" for="dest-success-outlined">Deribit</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="bitmex" id="dest-danger-outlined" autocomplete="off" />
<label class="btn btn-outline-danger" for="dest-danger-outlined">Bitmex</label>

<input type="radio" class="btn-check" name="options-outlined" v-model="exchangeName" value="bitfinex" id="dest-finex-success-outlined" autocomplete="off">
<label class="btn btn-outline-success" for="dest-finex-success-outlined">Bitfinex</label>

<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="btse" id="dest-info-outlined" autocomplete="off" />
<label class="btn btn-outline-info" for="dest-info-outlined">BTSE</label>
<input type="radio" class="btn-check" name="options-outlined-dest" v-model="exchangeDestination" value="kraken" id="dest-dark-outlined" autocomplete="off" />
<label class="btn btn-outline-dark" for="dest-dark-outlined">Kraken</label>
{{end}}