{{define "fiatButtons"}}
<input type="radio" class="btn-check" name="options-outlined" v-model="currency" value="EUR" id="currency-btn-success-outlined" autocomplete="off" checked required>
<label class="btn btn-outline-primary" for="currency-btn-success-outlined">Euro</label>

<input type="radio" class="btn-check" name="options-outlined" v-model="currency" value="USD" id="currency-check-2-outlined" autocomplete="off">
<label class="btn btn-outline-warning" for="currency-check-2-outlined">Dollar</label>
{{end}}