<!doctype html>
<html lang="en">
{{template "head"}}
<body>
{{template "navbar"}}
<div class="container-fluid">
  <div class="row">
    {{template "sidebarMenu"}}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {{template "dashboard"}}
      <div id="app">
        <form class="deposit-form" @submit.prevent="onSubmit">

          <div class="input-group mb-3">
            {{template "exchangesRadioButtons"}}
          </div>

          <div class="mb-3">
            <label for="asset" class="form-label">Asset</label>
            <input type="input" class="form-control" id="asset" v-model="asset" aria-describedby="assetInput" min="0" autocomplete="off">
            <div id="assetInput" class="form-text">ETH</div>
          </div>

          <button class="btn btn-primary" type="submit" :disabled="loading">
            <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span v-if="loading">Loading...</span><span v-else>Deposit</span>
          </button>
        </form>
      </div>
    </main>
  </div>
</div>
</body>

</body>
<script>
  const app = Vue.createApp({
    delimiters: ['${', '}'],

    data() {
      return {
        loading: false,
        errored: false,
        error: "",
        exchangeInput: "",
        exchangeName: "ftx",
        asset: "",
        address: "",
        balance: "",
        chain: "default",
        base: "",
        quote: "",
        assetItem: "",
      }
    },
    methods: {
      onSubmit() {
        // reset previous result
        this.errored = false
        this.error =""

        // reset address and balance for new result
        this.balance = ""

        // disable the form
        this.loading = true

        axios
                .get('http://127.0.0.1:3333/api/trade/' + this.exchangeName + '/' + this.base + '/' + this.quote + '/' + this.assetItem)
                .then(response => {
                  this.processData(response)
                })
                .catch(error => {
                          console.log(error)
                          this.error = error
                          this.errored = true
                        }
                )
                .finally(() => this.loading = false)
      },
      processData(result) {
        // const data = result.data
        // console.log(data)
        // this.address = data.address["Address"]
        // this.symbol = data.code
        // this.balance = data.balance
        // this.exchangeName = data.exchange
      }
    },
  })
  app.mount('#app').created()
</script>

</html>