<!doctype html>
<html lang="en">
{{template "head"}}
<body>
{{template "navbar"}}
<div class="container-fluid">
  <div class="row">
    {{template "sidebarMenu"}}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {{template "dashboard"}}

      <div id="app">
        <form class="deposit-form" @submit.prevent="onSubmit">

          <div class="input-group mb-3">
            {{template "exchangesRadioButtons"}}
          </div>

          <div class="row">
            <div class="col">
              <v-select v-model="pair"
                        :options="pairs"
                        label="name"
                        placeholder="BTC-USD"
              ></v-select>
            </div>
            <div class="col">
              <label class="form-check-label">${ pair.assetType}</label>
            </div>
          </div>

          <script src='https://unpkg.com/vue@latest'></script>
          <script src='https://unpkg.com/vue-select@latest'></script>

          <div class="mb-3">
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" v-model="qtyUSD" placeholder="USD QTY" aria-label="USD">
              </div>
<!--              <div class="col">-->
<!--                <input type="number" class="form-control" v-model="sizeQTY" placeholder="qty" aria-label="QTY">-->
<!--              </div>-->
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col">
                {{template "orderTypeMarket"}}
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col">
                {{template "orderTypeLimit"}}
              </div>
            </div>

            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="reduceFlexSwitchCheckDefault">
                    <label class="form-check-label" for="reduceFlexSwitchCheckDefault">Reduce</label>
                  </div>
                </div>

                <div class="col">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="reduceFlexSwitchCheckDefault">TWAP</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="row">
              <div class="col">
                <input type="number" class="form-control" placeholder="hours" v-model="hours" aria-label="hours" aria-describedby="basic-addon1">
              </div>
              <div class="col">
                <input type="number" class="form-control" placeholder="minutes" v-model="minutes" aria-label="minutes" aria-describedby="basic-addon2">
              </div>
            </div>
          </div>
          </div>

          <button class="btn btn-primary" type="submit" :disabled="loading">
            <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span v-if="loading">Loading...</span><span v-else>Submit</span>
          </button>
        </form>

        <div>${ result }</div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div id="tradingview_7829e"></div>
<!--          <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">BTCUSD Chart</span></a> by TradingView</div>-->
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript">
            new TradingView.widget(
                    {
                      "width": 1200,
                      "height": 675,
                      "symbol": "FTX:BTCUSD",
                      "interval": "D",
                      "timezone": "Europe/Amsterdam",
                      "theme": "dark",
                      "style": "1",
                      "locale": "en",
                      "toolbar_bg": "#f1f3f6",
                      "enable_publishing": false,
                      "withdateranges": true,
                      "hide_side_toolbar": false,
                      "allow_symbol_change": true,
                      "details": true,
                      "studies": [
                        "VSTOP@tv-basicstudies",
                        "Volume@tv-basicstudies",
                        "VWAP@tv-basicstudies"
                      ],
                      "show_popup_button": true,
                      "popup_width": "800",
                      "popup_height": "450",
                      "container_id": "tradingview_7829e"
                    }
            );
          </script>
        </div>
      </div>
    </main>
  </div>
</div>
</body>

<script>
  Vue.component("v-select", VueSelect.VueSelect);
  new Vue({
    el: "#app",
    delimiters: ['${', '}'],
    data() {
      return {
        pair: "BTC-USD",
        pairs: [],
        loading: false,
        errored: false,
        error: "",
        exchangeName: "ftx",
        qtyUSD: "",
        orderType: "",
        balance: "",
        assetType: "spot",
        twap: false,
        hours: "",
        minutes: "",
        notification: 0,
        result: "",
      }
    },
    mounted() {
      this.onPairsLoaded();
    },
    methods: {
      onPairsLoaded: function() {
        axios.get('http://127.0.0.1:3333/api/pairs/' + this.exchangeName).then(response => {
          this.pairs = response.data["pair"];
        }).catch(error => {
          console.log(error);
        });
      },
      onSubmit() {
        // reset previous result
        this.errored = false
        this.result = ""
        this.error =""

        // reset address and balance for new result
        this.balance = ""

        // disable the form
        this.loading = true

        axios.get('http://127.0.0.1:3333/api/trade/' + this.exchangeName + '/' + this.pair.name + '/'+ this.qtyUSD +'/' + this.pair.assetType + '/' + this.orderType)
                .then(response => {
                  this.processData(response)
                })
                .catch(error => {
                          console.log(error)
                          this.error = error
                          this.errored = true
                        }
                )
                .finally(() => this.loading = false)
      },
      processData(result) {
        const data = result.data
        this.result = data
        // console.log(data)
        // this.address = data.address["Address"]
        // this.symbol = data.code
        // this.balance = data.balance
        // this.exchangeName = data.exchange
      }
    },
    watch: {
      exchangeName: {
        handler: function(value) {
          this.onPairsLoaded();
        }
      }
    }
  })
  app.mount('#app').created().mounted();
  </script>
</html>