<!doctype html>
<html lang="en">
{{template "head"}}
<body>
{{template "navbar"}}
<div class="container-fluid">
  <div class="row">
    {{template "sidebarMenu"}}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {{template "dashboard"}}
      <div id="app">
        <form class="deposit-form" @submit.prevent="onSubmit">

          <div class="input-group mb-3">
            {{template "exchangesRadioButtons"}}
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" v-model="base" placeholder="BTC" aria-label="BTC">
              </div>
              <div class="col">
                <input type="text" class="form-control" v-model="quote" placeholder="USD" aria-label="USD">
              </div>


              <div class="col">
                <div class="col-md-4 mb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="validationTooltipUsernamePrepend">asset type</span>
                    </div>
                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Spot" aria-describedby="validationTooltipUsernamePrepend" required>
                    <div class="invalid-tooltip">
                      Please choose a unique and valid username.
                    </div>
                  </div>
                </div>
<!--                <input type="text" class="form-control" v-model="assetType" placeholder="spot" aria-label="assetType">-->
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" v-model="sizeUSD" placeholder="USD" aria-label="USD">
              </div>
              <div class="col">
                <input type="number" class="form-control" v-model="sizeQTY" placeholder="qty" aria-label="QTY">
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col">
                {{template "orderTypeMarket"}}
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col">
                {{template "orderTypeLimit"}}
              </div>
            </div>

            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="reduceFlexSwitchCheckDefault">
                    <label class="form-check-label" for="reduceFlexSwitchCheckDefault">Reduce</label>
                  </div>
                </div>
              </div>
            </div>

          <div class="mb-3">
            <div class="row">
              <div class="col">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">TWAP</label>
                </div>
              </div>
              <div class="col">
                <input type="number" class="form-control" placeholder="hours" aria-label="hours" aria-describedby="basic-addon1">
              </div>
              <div class="col">
                <input type="number" class="form-control" placeholder="minutes" aria-label="minutes" aria-describedby="basic-addon2">
              </div>
            </div>
          </div>
          </div>


          <!--          <button class="btn btn-primary" type="submit" :disabled="loading">-->
<!--            <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
<!--            <span v-if="loading">Loading...</span><span v-else>Deposit</span>-->
<!--          </button>-->
        </form>
      </div>

      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div id="tradingview_7829e"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">BTCUSD Chart</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
          new TradingView.widget(
                  {
                    "width": 1280,
                    "height": 720,
                    "symbol": "FTX:BTCUSD",
                    "interval": "D",
                    "timezone": "Europe/Amsterdam",
                    "theme": "dark",
                    "style": "1",
                    "locale": "en",
                    "toolbar_bg": "#f1f3f6",
                    "enable_publishing": false,
                    "withdateranges": true,
                    "hide_side_toolbar": false,
                    "allow_symbol_change": true,
                    "details": true,
                    "studies": [
                      "VSTOP@tv-basicstudies",
                      "Volume@tv-basicstudies",
                      "VWAP@tv-basicstudies"
                    ],
                    "show_popup_button": true,
                    "popup_width": "1000",
                    "popup_height": "650",
                    "container_id": "tradingview_7829e"
                  }
          );
        </script>

    </main>
  </div>
</div>
</body>

</body>
<script>
  const app = Vue.createApp({
    delimiters: ['${', '}'],

    data() {
      return {
        loading: false,
        errored: false,
        error: "",
        exchangeInput: "",
        exchangeName: "ftx",
        asset: "",
        address: "",
        balance: "",
        chain: "default",
        base: "",
        quote: "",
        assetItem: "",
      }
    },
    methods: {
      onSubmit() {
        // reset previous result
        this.errored = false
        this.error =""

        // reset address and balance for new result
        this.balance = ""

        // disable the form
        this.loading = true

        axios
                .get('http://127.0.0.1:3333/api/trade/' + this.exchangeName + '/' + this.base + '/' + this.quote + '/' + this.assetItem)
                .then(response => {
                  this.processData(response)
                })
                .catch(error => {
                          console.log(error)
                          this.error = error
                          this.errored = true
                        }
                )
                .finally(() => this.loading = false)
      },
      processData(result) {
        // const data = result.data
        // console.log(data)
        // this.address = data.address["Address"]
        // this.symbol = data.code
        // this.balance = data.balance
        // this.exchangeName = data.exchange
      }
    },
  })
  app.mount('#app').created()
</script>

</html>